
<%- include('./partials/header.ejs') %>
<body>

    <!-- upper half in brown color -->
    <%- include('./partials/nav.ejs') %>

  <div class="container">
      This website is intended to eventually better you in cp in codeforces. Utilise this tool to analyse your contests and practice sessions 
      and find a way to excell.
  </div>
</div>
 <!-- upper half end -->
  <!-- Lower Half in white color -->
  <div class="lower-half">

  </div>

</body>

</html>
